# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/run/
/libraries/
/.idea/
/intermediary.txt
/mojmap.txt
/versionJson.json
/_build.gradle
/out/
/flameasm/
